extends ../layout

block content
    a(href='/productos') volver 
    br
    br
    br
    h1 Nuevo Productos
    br
    br
    form(action='/productos/create' method='post')
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='nombre') Nombre:
        input#nombre(type='text' name='nombre')
        br
        label(for='marca') Marca:
        input#marca(type='text' name='marca')
        br
        label(for='cantidad') Cantidad:
        input#cantidad(type='text' name='cantidad')
        br
        label(for='precio') Precio:
        input#precio(type='text' name='precio')
        br
        input.btn(type='submit' value='ok')