extends ../layout

block content
    a(href='/productos/create') Nuevo 
    br

    table.table 
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Marca
                th(scope='col') Cantidad
                th(scope='col') Precio
                th(scope='col')
                th(scope='col')
        tbody
            each produ in producs
                tr
                    td(scope='row')
                        = produ.code
                    td= produ.nombre
                    td= produ.marca
                    td= produ.cantidad
                    td= produ.precio
                    td
                            a(href='productos/'+produ.id+'/update') Editar 
                    td
                        form.inline(method='post' action='productos/'+produ.id+'/delete')
                            input(type='hidden' name='id' value=produ.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'