extends ../layout

block content
    a(href='/productos') volver 
    br
    br
    br
    h1 Modificar Productos
    br
    br
    form(action=`/productos/${product.id}/update` method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=product.id)
        br
        label(for='nombre') Nombre:
        input#nombre(type='text' name='nombre'  value=product.nombre)
        br
        label(for='marca') Marca:
        input#marca(type='text' name='marca'  value=product.marca)
        br
        label(for='cantidad') Cantidad:
        input#cantidad(type='text' name='cantidad'  value=product.cantidad)
        br
        label(for='precio') Precio:
        input#precio(type='text' name='precio'  value=product.precio)
        br
        input.btn(type='submit' value='ok')