extends ../layout

block content
    a(href='/usuarios/create') Nuevo 
    br

    table.table 
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Email       
                th(scope='col')
                th(scope='col')
        tbody
            each produ in usuarios
                tr
                    td(scope='row')
                        = produ.id
                    td= produ.nombre
                    td= produ.email            
                    td
                            a(href='usuarios/'+produ.id+'/update') Editar 
                    td
                        form.inline(method='post' action='usuarios/'+produ.id+'/delete')
                            input(type='hidden' name='id' value=produ.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'