body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#mapid { 
  height: 400px;
  width: 400px;
 }

 body {
  padding: 50px;
  padding-top: 5rem;
 }